<h1><%@Conversation.subject %></h1>

<% @Conversation.receipts_for(current_user).each do |receipt| %>
	<div>
		<div> <%= receipt.message.sender.name %> commented</div>
		<p><%= receipt.message.body %></p>
	</div>
<% end %>
<%= form_tag conversation_messages_path(@Conversation), method: :post do %>
	<div>
		<%= text_area_tag :body %>
	</div>

	<%=submit_tag %>
<% end %> 